* {
    margin: 0;
    padding: 0;
    font-family: vazirmatn
}

body {
    background-color: #bdc3cb;
    color: rgb(44, 44, 44);
    justify-content: center;
    display: flex;
}

div {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 30%;
    border: 2px solid black;
    border-radius: .5rem;
    align-items: center;
    box-shadow: 6px 6px 6px 6px;
}

span {
    padding-top: 8rem;
    font-size: 10rem;
    margin-bottom: 5rem;
}

label {
    padding-top: 1rem;
    font-size: 1.2rem;
}

.input1 {
    padding: .2rem;
    border-radius: .5rem;
    background-color: #bdc3cb;
    color: rgb(31, 31, 31);
}

.input2 {
    padding: .2rem;
    background-color: #bdc3cb;
    color: rgb(31, 31, 31);
    border-radius: .3rem;
}

img {
    width: 3rem;
}

.imgdiv {
    flex-wrap: wrap;
}

.button1 {
    display: none;
}

.display {
    padding: .2rem;
    background-color: #bdc3cb;
    color: rgb(31, 31, 31);
    border-radius: .3rem;
}